<h1 id="tableLabel">Weather forecast</h1>
<button (click)="showAlertMessage()">Click Me</button>
<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts;"><em>Loading...</em></p>
<div *ngIf="forecasts"><strong>Total Data : {{forecasts.length}}</strong></div>
<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
</table>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>
<!--<cdk-virtual-scroll-viewport itemSize="20" style="height:60vh">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
        <tbody>
            <tr *cdkVirtualFor="let forecast of forecasts">
                <td>{{ forecast.date }}</td>
                <td>{{ forecast.temperatureC }}</td>
                <td>{{ forecast.temperatureF }}</td>
                <td>{{ forecast.summary }}</td>
            </tr>
        </tbody>
    </table>
</cdk-virtual-scroll-viewport>-->
